@import '../../styles/mixins.scss';

.securityLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.secrityLogo__image {
  width: 2.4rem;
  height: 3rem;
}

.securityLogo__description {
  margin: 0.1rem 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  p,
  big {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    color: $main-text;
  }

  big {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

@include for-phone-only {
  .secrityLogo__image {
    width: 1.8rem;
    height: auto;
  }

  .securityLogo__description {
    big {
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
}
