@import '../../styles/mixins.scss';

.socialLogo {
  width: 1.8rem;
  height: 1.8rem;
  border: 0.15rem solid $dark-violet;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.socialLogo__icon {
  max-width: 1rem;
  max-height: 1rem;
}
