//color
$main-background: #060606;
$main-text: #c2bcd2;
$opacity-text: rgba(255, 255, 255, 0.5);
$dark-violet: #534878;

//resolution
$full-hd: 1920px;
$xxl: 1440px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

//media-query
@mixin for-phone-only {
  @media (max-width: $sm) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $md) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin for-laptop-up {
  @media (min-width: $xl) {
    @content;
  }
}
@mixin for-big-laptop-up {
  @media (min-width: $xxl) {
    @content;
  }
}
@mixin for-extra-wide-device-up {
  @media (min-width: $full-hd) {
    @content;
  }
}
