@import '../../styles/mixins.scss';

.speakersFrame {
  margin-top: 22vw;
  width: 100%;

  @include for-big-laptop-up {
    margin-top: 23.5rem;
  }

  h2 {
    margin-bottom: 4.4rem;
  }
}

.speakersList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 1.2rem;
}
