@import '../../styles/mixins.scss';

.speakersCard {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;

  img {
    object-fit: contain;
    object-position: bottom;
  }

  h3 {
    margin-top: 1.25rem;
    color: white;
  }

  hr {
    border: 1.5px solid $dark-violet;
    width: 73%;
  }

  a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-transform: capitalize;
    color: $opacity-text;
    border-bottom: 1px solid $opacity-text;
  }
}

.speakersCard__descriptionWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  gap: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@include for-tablet-portrait-up {
  .speakersCard {
    width: 31.2%;
  }
}

@include for-phone-only {
  .speakersCard {
    width: 100%;
    margin-bottom: 5rem;
  }
}
