@import '../../styles/mixins.scss';

.header {
  margin-top: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@include for-big-laptop-up {
  .header {
    margin-top: 6rem;
  }
}

@include for-phone-only {
  .header {
    button {
      display: none;
    }

    nav {
      width: 100%;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      gap: 0.5rem;
    }
  }
}
