@import '../../styles/mixins.scss';

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 29vw;
  margin-bottom: 3.5rem;
  width: 100%;
}

.footerColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem;
}

.footerColumn_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
}

.footerColumn__additionalInfo {
  text-transform: none;
  text-decoration: none;
}

.footer__securityLogo {
  display: none;
}

@include for-big-laptop-up {
  .footer {
    padding-top: 21rem;
  }
}

@include for-laptop-up {
  .footer__securityLogo {
    display: block;
  }
}

@include for-phone-only {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footerColumn {
    gap: 1rem;
    margin-bottom: 0px;
    grid-column: 3;
    grid-row: 1;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &:nth-child(3) {
      grid-column: 1;
      grid-row-start: 1;
      grid-row-end: 3;
      white-space: nowrap;
    }
  }

  .footerColumn_contacts {
    margin-top: 30px;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
