@import '../../styles/mixins.scss';

.app_content {
  position: relative;
  margin: auto;
  width: 100vw;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 20px;
  background-image: url('../../assets/gradients/gradient1.svg'), url('../../assets/gradients/gradient2.svg'),
    url('../../assets/photo/main-photo.webp'), url('../../assets/gradients/gradient4.svg'),
    url('../../assets/gradients/gradient5.svg');
  background-position: top right, top left, center 21vw, right 1000px, bottom center;
  background-size: 75%, 75%, contain, auto, contain;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  z-index: 1;
  max-width: 1920px;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('/src/assets/gradients/noise.svg');
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    height: 1200px;
    z-index: -1;
  }

  @include for-tablet-portrait-up {
    padding: 0vw 13.5%;
  }

  @include for-extra-wide-device-up {
    padding: 0px 250px;
  }

  @include for-big-laptop-up {
    background-position: top right, top left, center 300px, right 1000px, bottom center;
    background-size: auto, auto, contain, auto, contain;
  }
}
