@import '../../styles/mixins.scss';

.infoFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin-top: 13vw;
  padding-right: 15%;

  h1 {
    margin-bottom: 1rem;
    max-width: 480px;
    &:nth-child(2) {
      margin-bottom: 4rem;
      max-width: 550px;

      @include for-laptop-up {
        max-width: 740px;
      }
    }
  }

  h3 {
    margin-bottom: 1.2rem;
    max-width: 870px;
  }

  p {
    margin-bottom: 7.6rem;
  }

  @include for-big-laptop-up {
    margin-top: 190px;
  }

  @include for-phone-only {
    padding: 0px;
    h1 {
      max-width: 64vw;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      &:nth-child(2) {
        margin-bottom: 1rem;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
      }
    }

    h3 {
      padding-right: 0px;
      -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
      order: 4;
    }

    p {
      margin-bottom: 3rem;
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5;
    }

    button {
      margin: 4rem 0rem;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
    }
  }
}
