@import './styles/mixins.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: $main-background;
  @include for-tablet-landscape-up {
    font-size: 20px;
  }
  font-size: 16px;
}

a,
p,
span,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'JetBrains Mono';
  font-style: normal;
  color: $main-text;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  &:hover,
  &.active:hover {
    color: white;
    border-color: white;
  }

  &.active {
    border-bottom: 2px solid $dark-violet;
  }
}

a,
p {
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 1.05rem;
}

h1 {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 2.65rem;
  line-height: 3.45rem;
  color: $main-text;
}

h2 {
  font-weight: 400;
  font-size: 1.85rem;
  line-height: 2.4rem;
}

h3 {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3rem;
}

@include for-phone-only {
  h1 {
    font-size: 2rem;
    line-height: 2.45rem;
  }

  h2 {
    font-size: 1.85rem;
    line-height: 2.4rem;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}
