.customButton {
  width: 8.3rem;
  height: 2.5rem;
  border: 3px solid white;
  background: none;
  color: white;
  text-transform: uppercase;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.05rem;
  text-transform: uppercase;
  -ms-flex-item-align: auto;
  align-self: auto;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  &:hover {
    background-color: white;
    color: black;
  }
}
